.div{
    display: block; 
    margin: auto;
    text-align: center;
    font-size: 22px;
  }
  img{ width: 600px;
    height: 350px;
    display: block; 
    margin: auto;
  }
  h1, h3{color:#180B85;
    text-align: center;
    
  }
  
  
 

.bio{
    font-size:24px; 
    font-family:Verdana;
}
li{
    list-style-type: none;
    font-size: 26px;
}
.allInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    width: 250px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #0509e9;
    box-sizing: border-box;
}

.submitButton {
  position: sticky;
  /* top: 20px; */
   /* bottom: 32px;  */
  padding: 10px;
  background-color: #180B85;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;
  box-shadow: 0 0 10px -5px #60a7e0;
  transition: all 0.1s;
  margin: 15px;
  
  
}

  .submitButton:hover {
      bottom: 31px;
      font-size: 20px;
      background-color: #1a64b9;
      transition: all 0.1s;
      box-shadow: 0 0 20px -2px #539bec;
  }